    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Edit product</h3>
    </div>
    <div class="modal-body">
        <form name="product_form" class="form-horizontal" role="form" novalidate>

			
            <form-element label="ID" mod="product">
                <textarea class="form-control" name="id" placeholder="ID" ng-model="product.id">{{product.id}}</textarea>
            </form-element>
            
            <form-element label="TITLE" mod="product">
                <textarea class="form-control" name="title" placeholder="TITLE" ng-model="product.title">{{product.title}}</textarea>
            </form-element>
            <form-element label="DESCRIPTION" mod="product">
                <textarea class="form-control" name="description" placeholder="DESCRIPTION" ng-model="product.description">{{product.description}}</textarea>
            </form-element>
            <form-element label="IMAGE" mod="product">
                <textarea class="form-control" name="image" placeholder="IMAGE" ng-model="product.image">{{product.image}}</textarea>
            </form-element>
            <form-element label="CATEGORY_ID" mod="product">
                <textarea class="form-control" name="category_id" placeholder="CATEGORY_ID" ng-model="product.category_id">{{product.category_id}}</textarea>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveProduct(product);"
                                ng-disabled="product_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

